

html {
    background: white;
    background-size: 500px;
}

.images {
    display: flex;
    position: absolute;
    top: 300px;
    left: 350px;
    width: 100px;
}

#dogs_1 {
    width: 300px;
}

#dogs_3 {
    width: 300px;
}

.search_bar {
    top: 80%;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 100px;
    padding: 12px 20px 12px 40px;
    border: 1px solid black;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    position: relative;
    display: inline-block;
    justify-content: center;
    z-index: 9999;
}

.search {
    position: relative;
    display: block;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 80%;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

li {
    justify-content: center;
    list-style: none;
}